//* Fonts
//**********************************************

$primary-font: 'Source Sans Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif
$headings-font: 'Source Sans Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif

// Icon Fonts

$icon-font: 'icomoon'

//* Font Weight

$normal: 400
$bold: 600
$strong: 700


//* Colors
//**********************************************
// https://robots.thoughtbot.com/naming-colors

$white: #ffffff
$light-gray: #f5f5f5
$dark-gray: #333
$red: #c3251d


//* Site Structure - Colors
//**********************************************

$primary-bk-color: $light-gray
$border-color: $light-gray

//* Text Style
//**********************************************

$primary-color: $dark-gray
$accent-color: $red


//* Links
//**********************************************

$primary-link-color: $accent-color
$primary-link-hover: $primary-color


//* Media Quiery Variables
//**********************************************

$largedesktop: 1340px
$desktop: 1200px
$smalldesktop: 1023px
$tablet: 860px
// $phone: 768px
