//* # Editor Styls
// ---------------------------------------------

// Variabless
@import "variables"
// Mixins
@import "mixins"


// ---------------------------------------------

// Typographical Elements | _general.sass
@import "_partials/general"

// Headings | _headings.sass
@import "_partials/headings"

// Objects | _objects.sass
@import "_partials/objects"

// Columns | _columns.sass
@import "_partials/columns"


//* ## Body
// ---------------------------------------------

body
   margin: 9px 10px
   background-color: $white


//* ## Images
// ---------------------------------------------

img
   max-width: 100%
   height: auto
