.editor-post-title__block .editor-post-title__input
	font-family: $primary-font
	font-size: 36px
	font-weight: $bold
	line-height: 1.2


// Regular content width.
// 800px + 27px to match paragraph width on front-end and editor.
.wp-block
	max-width: $content-width

	&[data-align="wide"],
	&[data-align="full"]
		max-width: none


.wp-block[data-align="wide"]
	max-width: $full-wdith


// Base Style
body,
p
	@include base-style

p,
ul,
ol,
dl
	line-height: 1.625


a
	color: $highlight-color
	text-decoration: underline
	text-decoration-skip: ink
	transition: all 0.25s ease-in-out

	&:focus,
	&:hover
		color: $primary-color
		text-decoration: none


b,
strong
	font-weight: $bold


code
	padding: 2px 4px
	white-space: nowrap


mark
	background: #ddd
	color: #000


h1,
h2,
h3,
h4,
h5,
h6
	font-family: $primary-font
	font-weight: $bold
	line-height: 1.2
	margin: 0 0 15px 0

	a
		color: $primary-color
		text-decoration: none

		&:hover,
		&:focus
			color: $highlight-color


h1
	font-size: 36px


h2
	font-size: 30px


h3
	font-size: 24px


h4
	font-size: 20px


h5
	font-size: 18px


h6
	font-size: 16px


// Fix padding issue on columns in media-text block
.wp-block-media-text
	.wp-block-columns
		.block-editor-inner-blocks
			padding: 0
