# Other cleanup
sitemap.xml
sitemap.xml.gz
*.log

# ignore codekit
.codekit-cache

# ignore mac files
.DS_Store

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
