// Comment

.comment-respond,
.entry-comments,
	font-family: var(--font-size-small)


.comment-list
	margin: 0

	.depth-1
		padding-left: 0

	.children
		margin: 0

	.comment-header
		margin-bottom: var(--spacing-medium)

		p
			margin-bottom: 0

	.comment-content
		clear: both

	.alert
		font-weight: var(--font-weight-bold)

	li
		list-style: none
		padding: 40px 0 0 30px


.comment-respond

	label
		display: block
		margin-right: 12px

	.comment-form-cookies-consent label
		display: inline-block

	.form-submit
		margin-bottom: 0
