// Featured Image

.entry-image-link
	display: block
	line-height: 0


.entry-image
	margin-bottom: var(--spacing-medium)


// Entry meta

.entry-meta
	font-size: var(--font-size-small)


.entry-categories,
.entry-tags
	display: block


// After Post

.share-links

	&__list
		margin: 0

	&__item
		list-style: none
		display: inline-block

	&__link
		line-height: 0
		display: block
		padding: 0 20px 10px 0


// Columns

// .sidebar
// 	font-size: var(--font-size-small)
// 	margin-bottom: var(--spacing-x-large)
