// Site Header
//**********************************************

.site-header
	background-color: var(--color-white)
	padding: var(--spacing-medium) 0

	.wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		position: relative


.title-area
	padding: 15px 0


.site-title
	font-size: var(--font-size-x-large)
	font-weight: var(--font-weight-bold)
	line-height: 1.2
	margin: 0
