// Site Header
//**********************************************

.top-banner-visible
	.top-banner
		border-bottom: 1px solid var(--color-border)

		.wrap
			padding-top: var(--spacing-1x)
			padding-bottom: var(--spacing-1x)

		&__text
			margin: 0

		button
			position: absolute
			top: 0
			right: 0


.site-header
	background-color: var(--color-white)
	padding: var(--spacing-1x) 0

	.wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between


.title-area
	// float: left
	// width: auto
	padding: 15px 0


.site-title
	font-size: var(--font-size-x-large)
	font-weight: var(--font-weight-bold)
	line-height: 1.2
	margin: 0
