// Pagination
//**********************************************

.pagination
	display: flex
	flex-wrap: wrap
	justify-content: space-between


// .archive-pagination

	
.adjacent-entry-pagination
	a
		display: block

	.nav-title
		font-weight: var(--font-weight-bold)