// Pagination
//**********************************************

.pagination
	clear: both


// .archive-pagination

	
.post-pagination
	a
		display: block

	.nav-title
		font-weight: var(--font-weight-bold)


.pagination-next
	text-align: right
	float: right