// Block Alignment

.alignwide,
.alignfull
	margin-left: calc(50% - 50vw)
	margin-right: calc(50% - 50vw)
	max-width: 100vw
	width: 100vw


// Loade Align Wide styles only on desktop
@include above-desktop
	// For the negative left/right margin, subtract page width from the content width and divide by two
	// Medi query is bsaed on the --wp--custom--width--full width

	.alignwide
		margin-left: calc( ( ( var(--wp--custom--width--full) - var(--wp--custom--width--content) ) / 2 ) * -1 )
		margin-right: calc( ( ( var(--wp--custom--width--full) - var(--wp--custom--width--content) ) / 2 ) * -1 )
		max-width: calc( 100% + ( var(--wp--custom--width--full) - var(--wp--custom--width--content) ) ) // 400px sum of left and right margin
		width: var(--wp--custom--width--full)


.wp-block-cover
	&__inner-container
		max-width: var(--wp--custom--width--responsive)


// Specific Block Alignment

.full-width-content
	.alignwide
		max-width: auto
		width: auto
		margin-left: auto
		margin-right: auto


.wp-block-image,
.wp-block-embed
	
	&.alignwide,
	&.alignfull
		margin-bottom: var(--wp--custom--spacing--medium)


// Alighments

.alignleft
	display: inline
	float: left
	margin-right: var(--wp--custom--spacing--medium)


.alignright
	display: inline
	float: right
	margin-left: var(--wp--custom--spacing--medium)


.aligncenter
	clear: both
	display: block
	margin-left: auto
	margin-right: auto

