// Block Alignment

.alignwide,
.alignfull
	margin: 0
	margin-left: calc(50% - 50vw)
	margin-right: calc(50% - 50vw)
	max-width: 100vw
	width: 100vw


@include above-tablet
	// For the negative left/right margin, subtract page width from the content width and divide by two
	.alignwide
		margin: 0
		margin-left: calc( ( var(--width-content) - var(--width-full) ) / 2  )
		margin-right: calc( ( var(--width-content) - var(--width-full) ) / 2  )
		max-width: var(--width-full)
		width: var(--width-full)


.wide-content
	.alignwide
		max-width: auto
		width: auto
		margin-left: auto
		margin-right: auto


// Alighments

.alignleft
	display: inline
	float: left
	margin-right: var(--spacing-medium)


.alignright
	display: inline
	float: right
	margin-left: var(--spacing-medium)


.aligncenter
	clear: both
	display: block
	margin-left: auto
	margin-right: auto


.wp-block-image,
.wp-block-image,
.wp-block-embed
	
	&.alignwide,
	&.alignfull
		margin-bottom: var(--spacing-medium)

