// Block styles available to multiple blocks

// Group Spacing
.wp-block-group,
.wp-block-cover
    
    &.is-style-no-spacing
        --wp--custom--spacing--group-padding: 0

    &.is-style-medium-spacing
        --wp--custom--spacing--group-padding: var(--wp--custom--spacing--medium)

    &.is-style-large-spacing
        --wp--custom--spacing--group-padding: var(--wp--custom--spacing--large)


// Paragraph, heading, and block
.is-style-no-bottom-spacing
        margin-bottom: 0

.is-style-larger-bottom-spacing
    margin-bottom: var(--wp--custom--spacing--medium)

.icon-block
    &.is-style-no-bottom-spacing
        margin-bottom: 0

    &.is-style-larger-bottom-spacing
        margin-bottom: var(--wp--custom--spacing--small)