// Block styles available to multiple blocks

// Group Spacing
.wp-block-group,
.wp-block-cover
    
    &.is-style-no-spacing
        padding-top: 0
        padding-bottom: 0

    &.is-style-medium-spacing
        padding-top: var(--wp--custom--spacing--large)
        padding-bottom: var(--wp--custom--spacing--large)

    &.is-style-large-spacing
        padding-top: var(--wp--custom--spacing--x-large)
        padding-bottom: var(--wp--custom--spacing--x-large)


// Paragraph, heading, and block
.is-style-no-bottom-spacing
        margin-bottom: 0

.is-style-larger-bottom-spacing
    margin-bottom: var(--wp--custom--spacing--medium)

.icon-block
    &.is-style-no-bottom-spacing
        margin-bottom: 0

    &.is-style-larger-bottom-spacing
        margin-bottom: var(--wp--custom--spacing--small)