// Button block

.wp-block-buttons
	--wp--custom--grid--gap: var(--wp--custom--spacing--small)
	gap: var(--wp--custom--grid--gap) !important
	margin-bottom: var(--wp--custom--spacing--medium)
	

.wp-block-button__link
	background-color: var(--wp--custom--button--background)
	border: 0
	border-radius: 0
	color: var( --color-inherit, var(--wp--custom--button--color) )
	cursor: pointer
	font-size: var(--button-font-size)
	font-weight: var(--wp--custom--font-weight--bold)
	padding: var(--wp--custom--button--padding)
	text-decoration: none
	white-space: normal
	width: auto
	line-height: normal
	transition: all 0.25s ease-in-out

	&:hover,
	&:focus
		border: 0
		background-color: var( --color-inherit-background, var(--wp--custom--button--background) )
		color: var( --color-inherit, var(--wp--custom--button--color) )

	&:focus
		box-shadow: 0 0 0 3px var(--wp--preset--color--white),0 0 0 5px currentColor
		outline: 0
		
	svg
		vertical-align: middle
		fill: currentcolor