// Block Columns

.wp-block-columns
    gap: var(--wp--custom--grid--gap)


.wp-block-column
    margin: 0 !important


.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:only-child)
    flex-basis: 100% !important


// Remove first and last margin
.wp-block-column > :first-child
    margin-top: 0


.wp-block-column > :last-child
    margin-bottom: 0


// Column Styles

.is-style-medium-gap
    --wp--custom--grid--gap: var(--wp--custom--spacing--large)


.is-style-large-gap
    --wp--custom--grid--gap: var(--wp--custom--spacing--x-large)


.is-style-medium-spacing
    padding: var(--wp--custom--spacing--medium)
