// Block Columns

.wp-block-columns
    margin-bottom: 0

    .wp-block-column:not(:first-child)
        margin-left: var(--grid-gap)

    @include tablet
        display: block

        .wp-block-column:not(:first-child)
            margin-left: 0