// Block Cover Image

.wp-block-cover
    min-height: auto
    padding: var(--wp--custom--spacing--medium)

    &.alignfull
        padding-top: var(--wp--custom--spacing--row)
        padding-bottom: var(--wp--custom--spacing--row)

    &.has-background-dim
        background-color: var(--color-inherit-background, var(--wp--custom--color--foreground))
