// Block Cover Image

// Remove first and last margin
.wp-block-cover__inner-container > :first-child
    margin-top: 0


.wp-block-cover__inner-container > :last-child
    margin-bottom: 0


.wp-block-cover
    min-height: auto
    padding: var(--wp--custom--spacing--medium)

    &.alignfull
        padding-top: var(--wp--custom--spacing--block-gap)
        padding-bottom: var(--wp--custom--spacing--block-gap)

    &.has-background-dim
        background-color: var(--color-inherit-background, var(--wp--custom--color--foreground))
