// Block Group

.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull)
    --wp--custom--spacing--group-padding: 0


// Group padding
.wp-block-group
    padding: var(--wp--custom--spacing--group-padding)
    margin-bottom: var(--wp--custom--spacing--block-gap)

    &.alignfull
        padding-top: var(--wp--custom--spacing--group-padding)
        padding-bottom: var(--wp--custom--spacing--group-padding)


.wp-block-group.alignfull
    margin-bottom: 0


// Remove first and last margin
.wp-block-group > :first-child
    margin-top: 0


.wp-block-group > :last-child
    margin-bottom: 0
