// Block Group

.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull)
    padding: 0


.wp-block-group
    padding: var(--wp--custom--spacing--medium)

    &.alignfull
        padding-top: var(--wp--custom--spacing--row)
        padding-bottom: var(--wp--custom--spacing--row)