// Block Inner Containers

.alignfull,
.alignwide

	.wp-block-cover__inner-container,
	.wp-block-group__inner-container
		margin: 0 auto
		width: auto
		max-width: calc( var(--wrap-max-width) + (var(--side-spacing) * 2 ) )
		padding: 0 var(--side-spacing)

		@include tablet
			max-width: calc( var(--width-content) + (var(--side-spacing) * 2 ) )

		@include phone
			margin-left: var(--side-spacing)
			margin-right: var(--side-spacing)
			padding: 0