// Block Media & Text


.wp-block-media-text

	.wp-block-media-text__content
		padding: var(--side-spacing)
		justify-self: end


// Block Stacking
.wp-block-media-text,
.wp-block-media-text.is-stacked-on-mobile
	
	@include tablet
		grid-template-columns: 100%

		.wp-block-media-text__content
			grid-column: 1
			grid-row: 2

		.wp-block-media-text__media
			grid-column: 1
			grid-row: 1

		
