// Block Quotes and Captions

.wp-block-quote
	--quote-font-size: var(--wp--preset--font-size--large)

	margin-top: var(--wp--custom--spacing--medium)
	margin-bottom: var(--wp--custom--spacing--medium)
	border: none

	// &::before
	// 	content: "\201C"
	// 	display: block
	// 	font-size: var(--block-quote-mark-size)
	// 	height: var(--block-quote-mark-size)
	// 	position: relative

	p
		font-size: var(--quote-font-size)

		&:last-of-type
			margin-bottom: 0

	cite
		color: var(--color-dark-gray)
		font-size: var(--wp--preset--font-size--small)
		font-weight: var(--wp--custom--font-weight--bold)
		font-style: normal
		display: block
		margin-top: var(--wp--custom--spacing--small)