// Search

.wp-block-search

    .wp-block-search__inside-wrapper
        // display: flex
        gap: var(--wp--custom--grid--gap-small)
        // flex-direction: row

    .wp-block-search__input
        padding: var(--form-padding)
        border: var(--form-border)

    .wp-block-search__button 
        margin-left: 0

        &:hover,
        &:focus