// Search

.wp-block-search

    .wp-block-search__inside-wrapper
        display: flex
        gap: var(--wp--custom--spacing--small)
        flex-direction: row

    .wp-block-search .wp-block-search__input
        border: inherit

    .wp-block-search__button 
        margin-left: 0