// Search

.wp-block-search

    .wp-block-search__inside-wrapper
        --wp--custom--grid--gap: var(--wp--custom--spacing--small)
        gap: var(--wp--custom--grid--gap)

    .wp-block-search__input
        padding: var(--form-padding)
        border: var(--form-border)

    .wp-block-search__button 
        margin-left: 0

        &:hover,
        &:focus