// Block Seperator

hr,
hr.wp-block-separator
	border: 0
	border-collapse: collapse
	border-top: 1px solid
	border-color: var(currentcolor, var(--wp--custom--border--color))
	clear: both
	margin-top: 1.65rem
	margin-bottom: 1.65rem
