// Social Icons

.wp-block-social-links

    .wp-social-link
        color: var(--color-inherit, var(--wp--custom--color--foreground)) !important
        background-color: transparent !important

        a
            background-color: transparent !important

            &:focus
                color: var(--wp--custom--color--secondary)