// Social Icons

.wp-block-social-links
	.wp-block-social-link
        background-color: transparent !important
        color: var(--color-primary)
        width: 36px
        height: 36px
        margin: 0 var(--spacing-small) var(--spacing-small) 0

        a
            padding: 0

            svg
                width: 36px
                height: 100%
                fill: var(--color-highlight)

                &:hover,
                &:focus
                    fill: var(--color-primary)
            