// Social Icons

.wp-block-social-links

    .wp-social-link
        color: var(--color-inherit, var(--color-primary)) !important
        background-color: transparent !important

        a
            background-color: transparent !important

            &:focus
                color: var(--color-highlight)