// Block Widgets

// Category Block
.wp-block-categories,
.wp-block-categories ol,
.wp-block-categories ul
	margin-left: 0
	padding-left: 0


.wp-block-categories li
	list-style-type: none


.wp-block-categories.aligncenter
	text-align: center


// Latest Posts Block
.wp-block-latest-posts
	&__post-date
		display: block
		color: var(--color-dark-gray)
		font-size: var(--font-size-x-small)

	li
		list-style-type: none


.wp-block-latest-posts.aligncenter
	text-align: center


// Other Blocks

.wp-block-separator:not(.is-style-wide):not(.is-style-dots)
	max-width: 100px


.wp-block-audio audio
	display: inline-block
	width: 100%
