// Column Classes
// http://www.billerickson.net/column-class-generator/
// Width: 1280px | Gutter: 40px
//**********************************************

@include above-tablet

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds
		float: left
		margin-left: 3.125%

	.one-half,
	.three-sixths,
	.two-fourths
		width: 48.4375%

	.one-third,
	.two-sixths
		width: 31.25%

	.four-sixths,
	.two-thirds
		width: 65.625%

	.one-fourth
		width: 22.65625%

	.three-fourths
		width: 74.21875%

	.one-sixth
		width: 14.0625%

	.five-sixths
		width: 82.8125%

	.first
		clear: both
		margin-left: 0
