// Comment
//**********************************************

.comment-respond,
.entry-comments,
	background-color: $white
	font-size: 16px
	font-size: 1.6rem
	padding: $base-padding
	margin-bottom: $base-margin


.comment-list
	margin: 0

	.depth-1
		padding-left: 0

	.children
		margin: 0

	.comment-header
		margin-bottom: $base-margin

		p
			margin-bottom: 0

	.comment-content
		clear: both

	.alert
		font-weight: $bold

	li
		list-style: none
		padding: 40px 0 0 30px


.comment-respond

	// input[type="email"],
	// input[type="text"],
	// input[type="url"]
	// 	width: 50%

	label
		display: block
		margin-right: 12px

	.comment-form-cookies-consent label
		display: inline-block

	.form-submit
		margin-bottom: 0


// Avatar
//**********************************************

.avatar
	float: left


.author-box .avatar,
.alignleft .avatar
	margin-right: 24px


.alignright .avatar
	margin-left: 24px


.comment .avatar
	margin: 0 16px 24px 0
