// Content Area
//**********************************************

.breadcrumb
	background-color: $white
	font-size: 16px
	font-size: 1.6rem
	padding: 20px 40px 0 40px


.entry-image-link
	display: block
	line-height: 0


.entry-image
	margin-bottom: $element-spacing


.after-entry,
.archive-description,
.author-box
	background-color: $white
	margin-bottom: $base-margin
	@include padding-scale


.archive-description,
.author-box
	p:last-child
		margin-bottom: 0


// Entries
//**********************************************

.entry
	background-color: $white
	margin-bottom: $base-margin
	@include padding-scale


// Entry meta
//**********************************************

.entry-meta
	font-size: 16px
	font-size: 1.6rem


.entry-categories,
.entry-tags
	display: block


// After Post Meta
//**********************************************

.social-links-list,
.author-contact-list
	margin: 0

	li
		list-style: none
		display: inline-block

		a
			padding: 0 20px 10px 0



// Columns
//**********************************************

.sidebar
	font-size: 16px
	font-size: 1.6rem
	margin-bottom: $base-margin


.sidebar .widget
	background-color: $white
	padding: 40px
