// Content Area
//**********************************************

.breadcrumb
	font-size: 16px
	font-size: 1.6rem
	margin-bottom: $margin_2x


.entry-image-link
	display: block
	line-height: 0


.entry-image
	margin-bottom: $margin_1x


.after-entry,
.archive-description,
.author-profile
	margin-bottom: $margin_2x


.archive-description
	p:last-child
		margin-bottom: 0


// Entries
//**********************************************

.entry,
.block-content-area
	margin-bottom: $margin_2x


// Entry meta
//**********************************************

.entry-meta
	font-size: 16px
	font-size: 1.6rem


.entry-categories,
.entry-tags
	display: block


// After Post Meta
//**********************************************

.share-links,
.author-contact

	&--list
		margin: 0

	&--item
		list-style: none
		display: inline-block

	&--link
		line-height: 0
		display: block
		padding: 0 20px 10px 0



// Columns
//**********************************************

.sidebar
	font-size: 18px
	font-size: 1.8rem
	margin-bottom: $margin_2x
