// Forms
//**********************************************

label
	font-weight: $bold


input,
select,
textarea
	background-color: $white
	border: 1px solid $border-color
	color: $primary-color
	padding: 16px
	width: 100%

	&:focus
		border: 1px solid darken( $border-color, 30 )


input[type="checkbox"],
input[type="image"],
input[type="radio"]
	width: auto
	margin-right: 10px


@include placeholder-color


button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button
	@include button


.entry-content .button:focus
	&:hover,
	&:focus
		 color: $white


.button
	display: inline-block

	&.button-block
		display: block
		width: 100%


button .icon,
.button .icon
	fill: $white


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button
	display: none
