// Box Sizing
//**********************************************

html,
input[type="search"]
	-webkit-box-sizing: border-box
	-moz-box-sizing:    border-box
	box-sizing:         border-box


*,
*::before,
*::after
	box-sizing: inherit


// Layout
//**********************************************

.content-area,
.footer-content-areas-wrap,
.wrap
	margin: 0 auto
	max-width: calc( #{$grid-width} + (5% + 5%) )
	padding: 0 5%

	@include tablet
		max-width: calc( 800px + (5% + 5%) )

	@include phone
		padding: 0


.nav-primary .wrap
	max-width: none
	padding: 0
	margin: 0


.full-width-content
	.content
		display: block
		max-width: calc( #{$content-width} + (5% + 5%) )
		padding: 0 5%
		margin: 0 auto
		margin-top: $margin_2x

		@include tablet
			max-width: calc( 800px + (5% + 5%) )

		@include phone
			margin-left: 5%
			margin-right: 5%
			padding: 0


// Mobile outer margin
@include phone
	.content-area,
	.footer-content-areas-wrap,
	.wrap
		margin-left: 5%
		margin-right: 5%


.content-area
	margin-top: $margin_2x
	word-wrap: break-word


@include above-tablet
	.content-area
		display: grid
		// Swap around for sidebar-content
		grid-template-columns: 1fr minmax(300px, 30%)
		grid-template-areas: "content sidebar"
		grid-column-gap: $grid-gap

		.content,
		.sidebar-primary
			width: 100%
			float: none
			margin-left: 0

		.content
			grid-area: content

		.sidebar-primary
			grid-area: sidebar


// Block Content Areas
//**********************************************

@include above-tablet
	.footer-content-areas-wrap
		display: grid
		grid-template-columns: 1fr 1fr 1fr
		grid-column-gap: $grid-gap

		.block-content-area-footer-left,
		.block-content-area-footer-middle,
		.block-content-area-footer-right
			width: 100%
			margin: 0
			float: none


// Search Form
//**********************************************

.search-form
	@include above-small-phone
		display: flex
		flex-direction: row
		align-items: center
		flex-wrap: wrap

		label,
		.search-submit
			align-self: stretch

		label
			flex-basis: 50%
			flex-grow: 1
			margin-right: $margin_1x

		.search-submit
			flex-basis: content
