// Site Navigation
//**********************************************

.genesis-nav-menu
	clear: both
	width: 100%
	line-height: 1
	margin: 0

	.menu-item
		display: block
		float: none
		position: relative

		@include above-phone
			display: inline-block


	// Menu items
	.menu-item:focus,
	.menu-item:hover
		position: relative


	@include above-phone

		.menu-item:focus .sub-menu:focus,
		.menu-item:hover .sub-menu:hover
			z-index: 100

	.menu-item:focus > .sub-menu,
	.menu-item:hover > .sub-menu
		display: block
		left: auto
		opacity: 1


	> .menu-bold > a

		@include above-phone
			font-weight: $bold


	> .menu-highlight > a

		@include above-phone
			margin-left: 15px
			padding-right: 20px
			padding-left: 20px
			border-radius: 3px
			color: $white
			background-color: $highlight-color
			font-weight: $bold


	> .menu-highlight > a:focus,
	> .menu-highlight > a:hover

		@include above-phone
			background-color: $white


	a
		display: block
		padding: 20px
		outline-offset: -1px
		color: $primary-color
		font-weight: $normal
		text-decoration: none

	a:focus,
	a:hover,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:focus,
	.sub-menu .current-menu-item > a:hover
		color: $highlight-color
		text-decoration: none

	.sub-menu
		display: block
		clear: both
		position: static
		z-index: 99
		width: 100%
		margin: 0
		padding-left: 15px
		opacity: 1

		@include above-phone
			position: absolute
			width: 180px
			padding-left: 0
			border-top: 1px solid $border-color
			opacity: 0
			transition: opacity 0.4s ease-in-out


		a
			position: relative
			width: 100%
			background-color: $white
			word-wrap: break-word

			@include above-phone
				width: 180px
				padding-top: 20px
				padding-bottom: 20px
				border: 1px solid $border-color
				border-top: 0


		.sub-menu

			@include above-phone
				margin: -46px 0 0 179px


	.sub-menu:focus-within
		opacity: 1


// Hide Menu
//**********************************************

.js .nav-primary
	display: none
	position: relative

	@include above-phone
		display: block


// Responsive Menu
//**********************************************

.menu

	.menu-item:focus
		position: static

	.menu-item > a:focus + ul.sub-menu,
	.menu-item.sfHover > ul.sub-menu
		left: auto
		opacity: 1


// Responsive Menu
.genesis-responsive-menu
	position: relative

	.genesis-nav-menu

		.menu-item:hover > .sub-menu,
		.menu-item:focus > .sub-menu
			display: none

		.sub-menu
			display: none
			clear: both
			position: static
			z-index: 99
			left: -9999px
			width: 100%
			margin: 0
			padding-left: 15px
			opacity: 1

			@include above-phone
				position: absolute
				width: 180px
				padding-left: 0
				border-top: 1px solid $border-color
				opacity: 0
				transition: opacity 0.4s ease-in-out


// Menu toggle
.menu-toggle
	display: block
	visibility: visible
	width: 100%
	overflow: hidden
	position: relative
	z-index: 1000
	margin: 0 auto
	padding: 15px 0
	border-width: 0
	color: $primary-color
	background-color: $white
	line-height: inherit
	text-align: center

	@include above-phone
		display: none


	&:focus,
	&:hover
		border-width: 0
		color: $highlight-color
		background-color: $white


// Submenu Toggle
.sub-menu-toggle
	display: block
	visibility: visible
	float: right
	overflow: hidden
	position: absolute
	z-index: 100
	top: 0
	right: 0
	margin: 0 auto
	padding: 15px
	border-width: 0
	color: $highlight-color
	background-color: transparent
	text-align: center

	@include above-phone
		display: none


	&:focus,
	&:hover
		border-width: 0
		color: $highlight-color
		background-color: transparent

	&:before
		display: inline-block
		transition: transform 0.25s ease-in-out
		transform: rotate(0)
		text-rendering: auto

	.sub-menu &
		padding: 12px 10px

	&.activated:before
		transform: rotate(180deg)


// Primary nav
//**********************************************

.nav-primary
	background-color: $white
	border-top: 1px solid $border-color


// Pagination
//**********************************************

.pagination
	clear: both
	margin: $base-margin 0

.post-pagination
	a
		display: block

	.nav-title
		font-weight: $bold


.pagination-next
	text-align: right
	float: right


// Footer Navigation
//**********************************************

.site-footer .menu
	padding-bottom: 20px

	.menu-item
		display: inline-block

	a
		 padding: 0 20px 10px
