// Site Footer
//**********************************************

.footer-block-content-area
	padding: $margin_2x 0

	.block-content-area
		@include medium-font
			
		p:last-of-type
			margin-bottom: 0


.site-footer
	border-top: 1px solid $border-color
	@include small-font
	line-height: 1
	padding: $margin_1x 0
	text-align: center


.site-footer p
	margin-bottom: 0


.copyright
	@include above-phone
		float: left
		width: auto
