// Site Footer
//**********************************************

.footer-widgets
	background-color: $white
	clear: both
	font-size: 18px
	font-size: 1.8rem
	padding: $base-padding 0

	.widget
		p:last-of-type
			margin-bottom: 0

	@include tablet
		.widget-area
			margin-bottom: $base-margin

			&:last-of-type
				margin-bottom: 0


.site-footer
	background-color: $white
	border-top: 1px solid $border-color
	font-size: 16px
	font-size: 1.6rem
	line-height: 1
	padding: $base-padding 0
	text-align: center


.site-footer p
	margin-bottom: 0
