// Site Header
//**********************************************

.top-banner-visible
	.top-banner
		border-bottom: 1px solid $border-color

		.wrap
			padding-top: $margin_1x
			padding-bottom: $margin_1x

		.top-banner-text
			margin: 0

		button
			position: absolute
			top: 0
			right: 0


.site-header
	background-color: $white
	padding: $margin_1x 0


.title-area
	float: left
	width: auto
	padding: 15px 0


.site-title
	font-size: 30px
	font-size: 3rem
	font-weight: $bold
	line-height: 1.2
	margin: 0
