// Editor Style Sheet
//**********************************************

// Variables & Resets
//**********************************************

@import "_helpers/variables"
@import "_helpers/mixins"


// Fonts & Icons
//**********************************************

@import "_vendor/icon-font"


// Base styles
//**********************************************

@import "_partials/base-style"


// Forms
//**********************************************

@import "_partials/forms"


// Post elements
//**********************************************

@import "_partials/post-elements"


// Column Classes
//**********************************************

@import "_partials/column-classes"


//**********************************************

body
	background-color: $white


body.wp-autoresize
	max-width: 880px
	margin: 0 auto
	padding: 30px 5% 0 5% !important
