// Gutenberg Editor Style Sheet
//**********************************************

// Variables & Resets
//**********************************************

@import "_helpers/variables"
@import "_helpers/mixins"


// Fonts & Icons
//**********************************************

@import "_vendor/icon-font"


// Base styles
//**********************************************

.edit-post-visual-editor,
.edit-post-visual-editor p
		color: $primary-color
		line-height: 1.625
		font-family: $primary-font
		font-size: 12px
		font-size: 1.2rem
		font-weight: $normal


.editor-post-title .editor-post-title__input
	font-family: $primary-font
