// ## Pagination
//**********************************************

.pagination
	clear: both
	margin: 40px 0


.adjacent-entry-pagination
	margin-bottom: 0


.archive-pagination li
	display: inline


.archive-pagination li a
	background-color: $white
	color: $primary-color
	cursor: pointer
	display: inline-block
	font-size: 16px
	font-size: 1.6rem
	font-weight: $bold
	padding: 8px 12px
	text-decoration: none


.archive-pagination a:hover,
.archive-pagination a:focus,
.archive-pagination .active a
	background-color: $primary-link-color
	color: $white
