// # Site Footer
//**********************************************

.site-footer
	background-color: $white
	border-top: 1px solid $light-gray
	font-size: 16px
	font-size: 1.6rem
	line-height: 1
	padding: 60px 0
	text-align: center


.site-footer p
	margin-bottom: 0
