// # Widgets
//**********************************************

.widget
	margin-bottom: 40px
	word-wrap: break-word


.widget p:last-child,
.widget ul > li:last-of-type,
.widget-area .widget:last-of-type
	margin-bottom: 0


.widget ul > li
	margin-bottom: 10px
	padding-bottom: 10px


.widget ul > li:last-of-type
	padding-bottom: 0


.widget ol > li
	list-style-position: inside
	list-style-type: decimal
	padding-left: 20px
	text-indent: -20px


.widget li li
	border: 0
	margin: 0 0 0 30px
	padding: 0


.widget_calendar table
	width: 100%


.widget_calendar td,
.widget_calendar th
	text-align: center


// ## Footer Widget
//**********************************************

.footer-widgets
	background-color: $white
	font-size: 1.8rem
	clear: both
	padding: 60px 0


.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3
	width: 380px


.footer-widgets-1
	margin-right: 70px


.footer-widgets-1,
.footer-widgets-2
	float: left


.footer-widgets-3
	float: right


// ## Featured Content
//**********************************************

.featured-content .entry
	background: none
	padding: 0


.featured-content .entry:last-of-type
	margin-bottom: 0


.featured-content .entry-title
	font-size: 20px
	font-size: 2rem
