// Global Variables
//**********************************************

// Fonts
//**********************************************

$sans-serif: 'Source Sans Pro', sans-serif

$icon-font: 'icomoon'

$primary-font: $sans-serif
// $heading-font: $sans-serif


// Font weight
//**********************************************

$normal: 400
$bold: 600

// Colors
//**********************************************

$orange: #da7519
$white: #fff
$dark-gray: #333
$light-gray: #eee

$primary-color: $dark-gray
$highlight-color: $orange
$border-color: $light-gray
$background-color: $light-gray


// Margins & Patterns
//**********************************************

$base-margin: 40px
$base-padding: 60px

$element-spacing: 28px


// Media Quiery
//**********************************************

$desktop: 1340px
$small-desktop: 1200px
$tablet: 1023px
$phone: 860px
// $small-phone:
// $smallest:
