// Global Variables
//**********************************************

// Fonts
//**********************************************

$sans-serif: 'Source Sans Pro', sans-serif

$icon-font: 'icomoon'

$primary-font: $sans-serif
// $heading-font: $sans-serif


// Font weight
//**********************************************

$normal: 400
$bold: 600


// Colors
//**********************************************

$blue: #004b96
$white: #fff
$dark-gray: #333
$light-gray: #eee

$primary-color: $dark-gray
$highlight-color: $blue
$border-color: $light-gray
$background-color: $light-gray

// Block Editor
$colors: ( 'blue' : $blue, 'dark-gray' : $dark-gray, 'light-gray' : $light-gray, 'white' : $white )


// Font Sizes
//**********************************************


// Block Editor
$sizes: ( 'small': 1.6rem, 'regular': 2.0rem, 'large': 2.4rem )


// Structure
//**********************************************

// Content
$full-wdith: 1200px
$content-width: 800px

// Grid
$grid-width: $full-wdith
$grid-gap: 30px

// Gaps
$base-margin: 30px
$margin_1x: $base-margin
$margin_2x: $base-margin * 2
$margin_3x: $base-margin * 3
// $margin_4x: $base-margin * 4


// Media Quiery
//**********************************************

$desktop: 1340px
$small-desktop: 1200px
$tablet: 1023px
$phone: 860px
$small-phone: 550px
// $smallest:
