// Global Variables
//**********************************************

// Fonts
//**********************************************

$sans-serif: 'Source Sans Pro', sans-serif

$icon-font: 'icomoon'

$primary-font: $sans-serif
// $heading-font: $sans-serif


// Font weight
//**********************************************

$normal: 400
$bold: 600


// Colors
//**********************************************

$blue: #004b96
$white: #fff
$dark-gray: #333
$light-gray: #eee

$primary-color: $dark-gray
$highlight-color: $blue
$border-color: $light-gray
$background-color: $light-gray


// Margins & Patterns
//**********************************************

$base-margin: 40px
$base-padding: 50px
$element-spacing: 30px


// Media Quiery
//**********************************************

$desktop: 1340px
$small-desktop: 1200px
$tablet: 1023px
$phone: 860px
$small-phone: 550px
// $smallest:
