// # Skip Links
// ----------------------------------------------------------------------------------------------------

.genesis-skip-link
	margin: 0

.genesis-skip-link li
	height: 0
	width: 0
	list-style: none

/* Display outline on focus */
*:focus
	color: #333
	outline: #ccc solid 1px



// # Site Header
// ----------------------------------------------------------------------------------------------------

.site-header
	background-color: #fff
	min-height: 160px

.site-header .wrap
	padding: 40px 0
