// Banner Styles

.top-banner-visible
    .top-banner
        --button-width: 150px
        border-bottom: 1px solid var(--color-border)
        position: relative
        
        .wrap
            display: flex
            flex-wrap: nowrap
            align-items: center
            padding-top: var(--spacing-medium)
            padding-bottom: var(--spacing-medium)
            padding-right: var(--button-width)
        
        &__text
            margin: 0
            flex-grow: 2
        
        button
            position: absolute
            right: 0