// Banner Styles

.top-banner-visible
    .header-banner
        display: block

.header-banner
    display: none
    border-bottom: 1px solid var(--color-border)
    position: relative

    &.header-banner__button
        --button-width: 150px
        
        .block-content-area
            padding-right: var(--button-width)

    
    .block-content-area
        // display: flex
        // flex-wrap: nowrap
        // align-items: center
        padding-top: var(--spacing-medium)
        padding-bottom: var(--spacing-medium)
    
    & >
        margin: 0
        flex-grow: 2
    
    button
        position: absolute
        right: 0
        top: 0