// All Base styles
//**********************************************

html
	@include font-smoothing (antialiased)


body
	// background-color: var(--wp--preset--color--white)
	// color: var(--wp--custom--color--foreground)
	font-family: var(--wp--custom--body--font-family)
	// font-size: var(--wp--preset--font-size--medium)
	font-weight: var(--wp--custom--body--font-weight)
	// line-height: var(--wp--custom--body--line-heigh)
	margin: 0
	padding: 0
	overflow-x: hidden
