// All Base styles
//**********************************************

html
	@include font-smoothing (antialiased)


body
	background-color: var(--color-white)
	color: var(--color-primary)
	font-family: var(--body-font-family)
	font-size: var(--font-size-medium)
	font-weight: var(--body-font-weight)
	line-height: var(--body-font-line-height)
