// Blockquotes

blockquote
	margin: 0
	padding: 45px var(--wp--custom--spacing--medium) 0 var(--wp--custom--spacing--medium) 
	margin-bottom: var(--wp--custom--spacing--medium)

	p
		font-size: var(--wp--preset--font-size--medium)
		font-style: italic
		line-height: 1.8
		margin-bottom: var(--wp--custom--spacing--medium)

	&::before
		content: "\201C"
		display: block
		font-size: var(--wp--preset--font-size--gigantic)
		height: 0
		position: relative
		top: -30px

	cite
		display: block
		font-size: var(--wp--preset--font-size--small)
		margin-top: -20px
