// Blockquotes

blockquote
	margin: 0
	padding: 0

	&::before
		content: "\201C"
		display: block
		font-size: var(--font-sixe-xxx-large)
		height: 0
		position: relative
		top: -60px

	cite
		display: block
		font-size: var(--font-sixe-small)
		margin-top: -20px
