// Blockquotes

blockquote
	margin: 0
	padding: 45px var(--spacing-medium) 0 var(--spacing-medium) 
	margin-bottom: var(--spacing-medium)

	p
		font-size: var(--font-size-medium)
		font-style: italic
		line-height: 1.8
		margin-bottom: var(--spacing-medium)

	&::before
		content: "\201C"
		display: block
		font-size: var(--font-size-xxx-large)
		height: 0
		position: relative
		top: -60px

	cite
		display: block
		font-size: var(--font-size-small)
		margin-top: -20px
