// Buttons

input[type="button"],
input[type="reset"],
input[type="submit"],
.search-submit,
.button
    --button-padding: 16px 24px
    --button-font-size: var(--wp--preset--font-size--small)

    background-color: var( --color-inherit-background, var(--wp--custom--color--foreground) )
    border: 0
    border-radius: 0
    color: var( --color-inherit, var(--wp--preset--color--white) )
    cursor: pointer
    font-family: var(--wp--custom--body--font-family)
    font-size: var(--button-font-size)
    font-weight: var(--wp--custom--font-weight--bold)
    padding: var(--button-padding)
    text-decoration: none
    white-space: normal
    width: auto
    line-height: normal
    transition: all 0.25s ease-in-out


    &:hover,
    &:focus,
    &:visited
        background-color: var( --color-inherit-background, var(--wp--custom--color--secondary) )
        color: var( --color-inherit, var(--wp--preset--color--white) )


.button
    &__small
        --button-padding: 12px 18px
        --button-font-size: var(--wp--preset--font-size--tiny)


.button
	display: inline-block

	&.button-block
		display: block
		width: 100%


.button .icon
	fill: var(--wp--preset--color--white)
