// Buttons

input[type="button"],
input[type="reset"],
input[type="submit"],
button,
.search-submit,
.wp-block-search .wp-block-search__button,
.button
    --button-padding: 16px 24px
    --button-font-size: var(--wp--preset--font-size--small)
    --button-background: var(--wp--custom--color--foreground)
    --button-color: var(--wp--preset--color--white)

    background-color: var(--color-inherit-background, var(--button-background) )
    border: 0
    border-radius: 0
    color: var( --color-inherit, var(--button-color) )
    cursor: pointer
    font-family: var(--wp--custom--body--font-family)
    font-size: var(--button-font-size)
    font-weight: var(--wp--custom--font-weight--bold)
    padding: var(--button-padding)
    text-decoration: none
    white-space: normal
    width: auto
    line-height: normal
    transition: all 0.25s ease-in-out


    &:hover,
    &:focus,
    &:visited
        --button-background: var(--wp--custom--color--secondary)
        --button-color: var(--wp--preset--color--white)
        

.button
    &__small
        --button-padding: 12px 18px
        --button-font-size: var(--wp--preset--font-size--tiny)


.button
	display: inline-block

	&.button-block
		display: block
		width: 100%


.button .icon
	fill: var(--button-color)
