// Forms

form
	--form-min-height: 58px
	--form-border: 1px solid var(--wp--custom--border--color)
	--form-padding: 16px

label,
legend
	display: inline-block
	font-weight: var(--wp--custom--font-weight--bold)
	margin-bottom: 5px


input,
select,
textarea
	font-family: var(--wp--preset--font-family--primary)
	font-size: var(--wp--preset--font-size--small)
	line-height: var(--wp--custom--line-height--normal)
	background-color: var(--wp--preset--color--white)
	border: var(--form-border)
	color: var(--wp--custom--color--foreground)
	padding: var(--form-padding)
	width: 100%
	min-height: var(--form-min-height)

	&:focus
		border: var(--form-border)


.post-password-form input[type="password"]
	min-height: var(--form-min-height)


input[type="checkbox"],
input[type="image"],
input[type="radio"]
	width: auto
	margin-right: 10px


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button
	display: none


input[type="search"]
	-webkit-box-sizing: border-box
	-moz-box-sizing:    border-box
	box-sizing:         border-box
