// Icons

.icon
  fill: var(--wp--custom--color--foreground)


.has-background,
.has-background-dim,
.has-text-color
  .icon
    fill: var(--color-fill, currentColor)


a
  .icon
    fill: var(--wp--custom--color--secondary)

    &:hover,
    &:focus
      transition: all 0.25s ease-in-out
      fill: var(--wp--custom--color--foreground)


.icon-text
	position: relative

	.icon
		margin-right: 10px
		vertical-align: middle


[class*="icon-"]::before,
[class*="-toggle"]::before
  display: inline-block
  width: 1em
  height: 1em
  text-indent: 100%
  white-space: nowrap
  overflow: hidden
  vertical-align: sub


// icons
.menu-toggle::before
  content: ''
  background: url('#{$icon-path}/menu.svg') no-repeat top left
  background-size: contain


.sub-menu-toggle::before
  content: ''
  background: url('#{$icon-path}/chevron-down.svg') no-repeat top left
  background-size: contain
