// Link Elements

a
    // color: var(--wp--custom--color--secondary)
    text-decoration: underline
    text-decoration-skip-ink: auto
    text-underline-offset: 2px
    transition: all 0.25s ease-in-out

    &:hover,
    &:focus
        color: var(--wp--custom--color--foreground)
        text-decoration: none

    // &:focus
    //     background-color: var(--wp--preset--color--light-green)
    //     box-shadow: 0 0 0 3px var(--wp--preset--color--light-green)
    //     outline: 0