// Link Elements

a
    color: var(--color-highlight)
    text-decoration: underline
    text-decoration-skip: ink
    text-underline-offset: 2px
    transition: all 0.25s ease-in-out

    &:hover,
    &:focus
        color: var(--color-primary)
        text-decoration: none