// Lists

ol,
ul
	list-style: none
	margin: 0
	padding: 0
	margin-bottom: var(--spacing-1x)
	margin-left: 40px


ol > li
	list-style-type: decimal


ul > li
	list-style-type: disc


ol ol,
ul ul,
ol ul,
ul ol
	margin-bottom: 0