// Text Style

// Paragraph Style

p
	margin: 0 auto
	margin-bottom: var(--wp--custom--spacing--small)
	padding: 0


// Headings
	
h1,
h2,
h3,
h4,
h5,
h6
	margin: 0 auto
	margin-top: var(--wp--custom--spacing--medium)
	margin-bottom: var(--wp--custom--spacing--small)

	a
		color: var(--wp--custom--color--foreground)
		text-decoration: none

		&:hover,
		&:focus,
		&:active
			color: var(--wp--custom--color--secondary)


b,
strong
	font-weight: var(--wp--custom--font-weight--bold)
