// Breadcrumbs

.breadcrumb
	font-size: var(--wp--preset--font-size--small)

	svg
		width: 0.7em
		height: 0.7em
		fill: var(--wp--custom--color--foreground)
		transform: rotate(-90deg)
		margin: 0 var(--wp--custom--spacing--x-small)
		fill: var(--wp--preset--color--dark-gray)