// Breadcrumbs

.breadcrumb
	display: flex
	flex-wrap: wrap
	gap: var(--wp--custom--spacing--x-small)
	font-size: var(--wp--preset--font-size--small)

.separator
	display: flex
	align-items: center

	svg
		--icon--size: 0.7em
		width: var(--icon--size)
		height: var(--icon--size)
		transform: rotate(-90deg)
		fill: var(--wp--preset--color--dark-gray)