// Comment

.comment-list
	padding-left: 0

	.depth-1
		padding-left: 0

	.children
		padding-left: var(--wp--custom--spacing--side)

	.comment-header
		margin-bottom: var(--wp--custom--spacing--medium)

		p
			margin-bottom: 0

	.comment-content
		clear: both

	.alert
		font-weight: var(--wp--custom--font-weight--bold)

	li
		list-style: none
		padding: var(--wp--custom--spacing--medium) 0 0 0


.comment-author-name
	font-weight: var(--wp--custom--font-weight--bold)


.comment-respond

	label
		display: block
		margin-right: 12px

	.comment-form-cookies-consent label
		display: inline-block

	.form-submit
		margin-bottom: 0


#cancel-comment-reply-link
	background-color: var( --color-inherit-background, var(--wp--custom--color--foreground) )
    border: 0
    border-radius: 0
    color: var( --color-inherit, var(--wp--preset--color--white) )
    cursor: pointer
    font-size: var(--font-size-x-small)
    font-weight: var(--wp--custom--font-weight--bold)
    padding: 16px 24px
    text-decoration: none
    white-space: normal
    width: auto
    line-height: normal
    transition: all 0.25s ease-in-out
	margin-left: var(--wp--custom--spacing--small)


    &:hover,
    &:focus,
    &:visited
        background-color: var( --color-inherit-background, var(--wp--custom--color--secondary) )
        color: var( --color-inherit, var(--wp--preset--color--white) )

    &:disabled
        background-color: var(--wp--custom--border--color)
        border-width: 0
        color: var(--wp--custom--color--foreground)
        cursor: not-allowed
	