// Comment

.comment-list
	padding-left: 0

	.depth-1
		padding-left: 0

	.children
		padding-left: var(--wp--custom--spacing--side)

	.comment-header
		margin-bottom: var(--wp--custom--spacing--medium)

		p
			margin-bottom: 0

	.comment-content
		clear: both

	.alert
		font-weight: var(--wp--custom--font-weight--bold)

	li
		list-style: none
		padding: var(--wp--custom--spacing--medium) 0 0 0


.comment-author-name
	font-weight: var(--wp--custom--font-weight--bold)


.comment-respond

	label
		display: block

	.comment-form-cookies-consent label
		display: inline-block

	.form-submit
		margin-bottom: 0

.comment-reply-title
	display: flex
	align-items: center
	gap: var(--wp--custom--grid--gap)