// Featured Image

.entry-image-link
	display: block
	line-height: 0


.entry-image
	margin-bottom: var(--spacing-medium)


// Entry meta

.entry-meta
	font-size: var(--font-size-small)

	a
		font-weight: var(--body-font-weight)


.entry-categories,
.entry-tags
	display: block
	font-weight: var(--body-font-weight-bold)


// Entry Content
.single .entry-content
	h2, h3, h4, h5, h6
		&:not(:first-child)
			margin-top: var(--spacing-large)


// After Post

.share-links

	&__list
		margin: 0
		padding: 0

	&__item
		list-style: none
		display: inline-block

	&__link
		line-height: 0
		display: block
		padding: 0 20px 10px 0

	.icon
		width: var(--icon-size-default)
		height: var(--icon-size-default)