// Featured Image

.entry-image-link
	display: block
	line-height: 0


.entry-image
	margin-bottom: var(--wp--custom--spacing--medium)


// Entry meta

.entry-meta
	font-size: var(--wp--preset--font-size--small)

	a
		font-weight: var(--wp--custom--body--font-weight)


.entry-categories,
.entry-tags
	display: block
	font-weight: var(--wp--custom--body--font-weight-bold)


// Entry Content
.single
	.entry-content
		h2, h3, h4, h5, h6
			&:not(:first-child)
				margin-top: var(--wp--custom--spacing--medium)


// After Post

.share-links

	&__heading
		font-size: var( --wp--custom--heading--size-h4 )

	&__list
		margin: 0
		padding: 0
		display: flex
		flex-wrap: wrap
		gap: var(--wp--custom--grid--gap)

	&__item
		list-style: none

	&__link
		display: flex
		align-items: center
		gap: var(--wp--custom--spacing--x-small)

	&__name
		@include small-phone
			@include hiden-text

	.icon
		width: var(--wp--preset--font-size--normal)
		height: var(--wp--preset--font-size--normal)


// Author Profile

.author-profile
	display: flex
	gap: var(--wp--custom--grid--gap)

	@include small-phone
		flex-direction: column

	.avatar
		float: none
		height: auto
		max-width: 96px

	&__title
		font-size: var(--wp--custom--heading--size-h4)
	
	&__description
		margin-bottom: 0