// Site Footer
//**********************************************

.site-footer
	.block-content-area
		font-size: var(--wp--preset--font-size--small)


.sub-footer
	--wp--custom--menu--font-size: var(--wp--preset--font-size--small)
	border-top: 1px solid var(--wp--custom--border--color)
	font-size: var(--wp--preset--font-size--small)
	line-height: 1
	text-align: center
			
	p
		margin-bottom: 0


.copyright
	width: auto
	margin: 0


// Footer Navigation
ul.menu-secondary
	.menu-item
		display: inline-block

		a
			padding: 0 20px 10px

