// Site Footer
//**********************************************

.site-footer
	.block-content-area
		font-size: var(--font-size-small)


.sub-footer
	--menu-font-size: var(--font-size-small)
	border-top: 1px solid var(--color-border)
	font-size: var(--font-size-small)
	line-height: 1
	text-align: center
			
	p
		margin-bottom: 0


.copyright
	width: auto
	margin: 0


// Footer Navigation
ul.menu-secondary
	.menu-item
		display: inline-block

		a
			padding: 0 20px 10px

