// Site Footer
//**********************************************

.block-content-area__footer 
	font-size: var(--wp--preset--font-size--small)


.sub-footer
	border-top: 1px solid var(--wp--custom--border--color)
	font-size: var(--wp--preset--font-size--small)
	line-height: 1
	text-align: center
			
	p
		margin-bottom: 0


.copyright
	width: auto
	margin: 0


// Footer Navigation
.menu-secondary
	--menu--item-padding: var(--wp--custom--spacing--small)
	padding: 0

	a
		padding: var(--menu--item-padding)

	li
		max-width: max-content
	