// Site Header
//**********************************************

.site-header
	position: relative
	background-color: var(--wp--preset--color--white)
	padding: var(--wp--custom--spacing--medium) 0

	> .wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between


// .title-area
// 	padding: 15px 0


.site-title
	font-size: var(--wp--preset--font-size--huge)
	font-weight: var(--wp--custom--font-weight--bold)
	line-height: 1.2
	margin: 0
