// Site Navigation
//**********************************************

.nav-primary
	// background-color: var(--wp--preset--color--light-gray)
	width: 100%
	border-top: 1px solid var(--wp--preset--color--light-gray)

	@include above-phone
		width: auto
		border-top: 0


// Responsive Menu
.nav-primary
	position: relative

	@include phone
		position: absolute
		background-color: var(--wp--preset--color--white)
		top: 100%
		left: 0
		z-index: 100


// Initial state, hidden off screen
.genesis-nav-menu ul
	position: absolute
	top: 100%
	left: 0
	visibility: hidden


/**
 * No JS fallback
 *
 * Triggers menus on hover rather than click. Supports keyboard navigation in modern browsers.
 */
.genesis-nav-menu.no-js li:hover > ul
	visibility: visible

.genesis-nav-menu.no-js li:focus-within > ul
	visibility: visible


// Open/Close Menu Behavior with JS
.genesis-nav-menu ul[aria-hidden="false"]
	visibility: visible


// Prevent offscreen-submenus
.genesis-nav-menu .sub-menu--right
	left: auto !important
	right: 0 !important


/**
 * Footnotes
 *
 * [1] Using visibility instead of display allows for easier transitions and animation of submenus
 * [2] Must be a separate ruleset so that hover works in non-modern browsers
 */

.menu,
.sub-menu
	margin: 0
	padding: 0


.genesis-nav-menu .menu-item
	list-style: none


.genesis-nav-menu
	justify-content: stretch
	padding: var(--wp--custom--spacing--small) 0

	@include above-phone
		display: flex
		flex-wrap: wrap
		justify-content: flex-end
		padding: 0


// Menu Reponsive
.js .nav-primary:not(.opened)
	display: none

	@include above-phone
		display: flex


// Menu item style
.genesis-nav-menu
	button
		border: 0
		background: transparent

	a,
	button
		padding: var(--wp--custom--menu--item-padding)
		color: var(--wp--custom--color--foreground)
		font-size: var(--wp--custom--menu--font-size)
		font-weight: var(--wp--custom--font-weight--normal)
		text-decoration: none
		transition: none

		&:hover,
		&:focus
			color: var(--wp--custom--color--secondary)

		&:focus
			background-color: var(--wp--preset--color--light-orange)

	button:hover svg,
	button:focus svg
		fill: var(--wp--custom--color--secondary)


.genesis-nav-menu > li
	position: relative
	flex: 1 1 auto
	display: flex
	justify-content: stretch
	flex-wrap: wrap

	@include phone
		button
			justify-content: space-between


.genesis-nav-menu
	> li > a,
	> li > button
		flex: 1 0 auto
		display: flex
		flex-wrap: wrap
		align-items: center
		font-size: inherit
		cursor: pointer

		@include above-phone
			justify-content: center


// SVG
.genesis-nav-menu
	svg
		width: 0.7em
		height: 0.7em
		margin-left: .5em
		fill: var(--wp--custom--color--foreground)


	[aria-expanded="true"] svg
		transform: scaleY(-1)


// Submenu Style
.genesis-nav-menu ul
	min-width: 100%
	width: 15em
	padding: 0
	background-color: var(--wp--preset--color--light-gray)
	z-index: 100


// Submenu Responsive Behavior
.genesis-nav-menu ul[aria-hidden="false"]
	position: static
	width: 100%
	flex: 0 0 auto

	@include above-phone
		position: absolute
		width: auto


// Submenu link
.genesis-nav-menu ul a
	display: block
	padding-top: var(--wp--custom--spacing--small)
	padding-bottom: var(--wp--custom--spacing--small)

	@include above-phone
		padding: var(--wp--custom--menu--item-padding)
		white-space: nowrap


// Mobile Menu Toggle
button.nav-toggle
	display: none // Hidden by defualt if no JS support
	align-items: center
	font-size: inherit
	font-family: inherit
	padding: var(--wp--custom--menu--item-padding)
	padding-right: 0
	background: transparent
	border: 0
	cursor: pointer

	svg
		width: 0.8em
		height: 0.8em
		margin-left: .5em
		fill: var(--wp--custom--color--foreground)
		
	&[aria-expanded="true"]
		.icon-bars
			display: none

		.icon-close
			display: block


	&[aria-expanded="false"]
		.icon-bars
			display: block
		
		.icon-close
			display: none



// Responsive Mobile Menu Toggle
.js button.nav-toggle
	display: flex

	&:hover,
	&:focus
		color: var(--wp--custom--color--secondary)

	&:hover svg,
	&:focus svg
		fill: var(--wp--custom--color--secondary)

	@include above-phone
		display: none


// Addon classes
.menu-bold > a
	@include above-phone
		font-weight: var(--wp--custom--font-weight--bold)


.menu-highlight > a
	@include above-phone
		padding-right: 20px
		padding-left: 20px
		margin-left: 20px
		color: var(--wp--preset--color--white)
		background-color: var(--wp--custom--color--secondary)
		font-weight: var(--wp--custom--font-weight--bold)

		&:hover,
		&:focus
			background-color: var(--wp--custom--color--foreground)
			color: var(--wp--preset--color--white)
