// Site Navigation
//**********************************************
nav
	--menu--item-font: var(--wp--custom--font-family--primary)
	--menu--item-font-size: var(--wp--preset--font-size--normal)
	--menu--item-font-weight: var(--wp--custom--font-weight--normal)
	--menu--item-font-color: var(--wp--custom--color--foreground)
	--menu--item-padding: var(--wp--custom--spacing--small) var(--wp--custom--spacing--medium)

	@include small-desktop
		--menu--item-padding: var(--wp--custom--spacing--small) var(--wp--custom--spacing--small)
	

.nav-primary
	width: 100%
	border-top: 1px solid var(--wp--preset--color--light-gray)
	border-bottom: 1px solid var(--wp--preset--color--light-gray)

	@include above-mobile-menu
		width: auto
		border-top: 0
		border-bottom: 0


// Responsive Menu
.js .nav-primary
	padding: 0

	@include mobile-menu
		position: absolute
		top: 100%
		left: 0
		z-index: 100
		padding: var(--wp--custom--spacing--small) calc( var(--wp--custom--spacing--side) - var(--wp--custom--spacing--small) )

		

.nav-primary
	position: relative

	@include mobile-menu
		background-color: var(--wp--preset--color--white)


// Initial state, hidden off screen
.genesis-nav-menu ul
	position: absolute
	top: 100%
	left: 0
	visibility: hidden


// Inital state if no js, open
.genesis-nav-menu.no-js ul
	@include mobile-menu
		visibility: visible
		position: relative
		display: block


/**
 * No JS fallback
 *
 * Triggers menus on hover rather than click. Supports keyboard navigation in modern browsers.
 */
.genesis-nav-menu.no-js li:hover > ul
	visibility: visible

.genesis-nav-menu.no-js li:focus-within > ul
	visibility: visible


// Open/Close Menu Behavior with JS
.genesis-nav-menu ul[aria-hidden="false"]
	visibility: visible


// Prevent offscreen-submenus
.genesis-nav-menu .sub-menu--right
	left: auto !important
	right: 0 !important


/**
 * Footnotes
 *
 * [1] Using visibility instead of display allows for easier transitions and animation of submenus
 * [2] Must be a separate ruleset so that hover works in non-modern browsers
 */

.menu,
.sub-menu
	margin: 0
	padding: 0


.genesis-nav-menu
	justify-content: stretch


// Menu Reponsive
.js .nav-primary:not(.opened)
	display: none

	@include above-mobile-menu
		display: flex



// Menu item style
.genesis-nav-menu
	button
		border: 0
		background: transparent

	a,
	button
		padding: var(--menu--item-padding)
		color: var(--menu--item-font-color)
		font-family: var(--menu--item-font)
		font-size: var(--menu--item-font-size)
		font-weight: var(--menu--item-font-weight)
		text-decoration: none
		transition: none

		&:hover,
		&:focus
			color: var(--wp--custom--color--secondary)

		&:focus
			background-color: var(--wp--preset--color--light-green)

	button:hover svg,
	button:focus svg
		fill: var(--wp--custom--color--secondary)


.genesis-nav-menu > li
	position: relative
	flex: 1 1 auto
	display: flex
	justify-content: stretch
	max-width: max-content
	flex-wrap: wrap

	@include mobile-menu
		max-width: 100%
		
		button
			justify-content: space-between


.genesis-nav-menu
	> li > a,
	> li > button
		display: flex
		flex-wrap: wrap
		align-items: center
		font-size: inherit
		cursor: pointer

		@include above-mobile-menu
			justify-content: center


	> li > button,
	> li > a
		width: 100%
		gap: var(--wp--custom--spacing--small)


// SVG
.genesis-nav-menu
	svg
		width: 0.7em
		height: 0.7em
		fill: var(--menu--item-font-color)


	[aria-expanded="true"] svg
		transform: scaleY(-1)


// Submenu Style
.genesis-nav-menu ul
	min-width: 100%
	width: 15em
	padding: 0
	background-color: var(--wp--preset--color--light-gray)
	z-index: 100


// Submenu Responsive Behavior
.genesis-nav-menu ul[aria-hidden="false"]
	position: static
	width: 100%
	flex: 0 0 auto

	@include above-mobile-menu
		position: absolute
		width: auto


// Submenu link
.genesis-nav-menu ul a
	display: block
	padding-top: var(--wp--custom--spacing--small)
	padding-bottom: var(--wp--custom--spacing--small)

	@include above-mobile-menu
		padding: var(--menu--item-padding)
		white-space: nowrap


// Mobile Menu Toggle
button.nav-toggle
	display: none // Hidden by defualt if no JS support
	font-size: inherit
	font-family: inherit
	padding: var(--menu--item-padding)
	padding-right: 0
	background: transparent
	border: 0
	cursor: pointer
	align-items: center
	gap: var(--wp--custom--spacing--small)

	svg
		width: 0.8em
		height: 0.8em
		fill: var(--menu--item-font-color)
		
	&[aria-expanded="true"]
		.icon-bars
			display: none

		.icon-close
			display: block


	&[aria-expanded="false"]
		.icon-bars
			display: block
		
		.icon-close
			display: none



// Responsive Mobile Menu Toggle
.js button.nav-toggle
	display: flex

	&:hover,
	&:focus
		color: var(--wp--custom--color--secondary)

	&:hover svg,
	&:focus svg
		fill: var(--wp--custom--color--secondary)

	@include above-mobile-menu
		display: none


// Addon classes
.menu-bold > a
	@include above-mobile-menu
		font-weight: var(--menu--item-font-weight)


.menu-highlight > a
	@include above-mobile-menu
		padding-right: 20px
		padding-left: 20px
		margin-left: 20px
		color: var(--wp--preset--color--white)
		background-color: var(--wp--custom--color--secondary)
		font-weight: var(--menu--item-font-weight)

		&:hover,
		&:focus
			background-color: var(--menu--item-font-color)
			color: var(--wp--preset--color--white)
