// Pagination
//**********************************************

.pagination
	ul
		margin: 0
		padding: 0


.pagination-item
	list-style: none


.nav-title
	display: block
	font-weight: var(--wp--custom--font-weight--bold)
	text-decoration: none !important


.adjacent-entry-pagination
	a
		font-weight: var(--wp--custom--font-weight--normal)


// .archive-pagination