// Pagination
//**********************************************

// .pagination

// .archive-pagination
	
.adjacent-entry-pagination
	a
		display: block
		font-weight: var(--font-weight-bold)

	.nav-title
		font-weight: var(--font-weight-bold)