// Post Elements

pre
	overflow-wrap: break-word
	white-space: pre-wrap


// Tables

table
	border-collapse: collapse
	border-spacing: 0
	line-height: 2
	margin-bottom: var(--wp--custom--spacing--medium)
	width: 100%
	word-break: break-all

	td,
	th
		text-align: left

		// &:first-child
		// 	padding-left: 0

	td
		border-top: 1px solid var(--wp--custom--border--color)
		padding: 6px

	thead th,
	tfoot td
		font-weight: var(--wp--custom--font-weight--bold)
		padding: 0 6px


tbody
	border-bottom: 1px solid var(--wp--custom--border--color)