// Box Sizing

html
	-webkit-box-sizing: border-box
	-moz-box-sizing:    border-box
	box-sizing:         border-box


*,
*::before,
*::after
	box-sizing: inherit


.site-container
	overflow-x: hidden


// Nav Layout

.nav-primary,
.nav-secondary
	.wrap
		width: 100%
		max-width: 100%


// Page Layout

.content-area,
.content,
.wrap
	display: block
	width: calc( 100% - ( var(--side-spacing) * 2 ) )
	max-width: var(--wrap-max-width)
	margin: 0 auto


.narrow-content
	.content-area,
	.content
		--wrap-max-width: var(--width-content)


.wp-block-cover,
.wp-block-group
	&.alignfull
		padding: 0 var(--side-spacing)


.wp-block-cover__inner-container,
.wp-block-group__inner-container
	width: 100%
	max-width: var(--wrap-max-width)
	margin: 0 auto


.pagination
	.inner-wrap
		width: 100%
		display: grid
		grid-gap: var(--spacing-medium)

		@include above-phone
			grid-template-columns: 1fr 1fr
			grid-template-areas: "previous next"

			.pagination-next
				grid-area: next
				justify-self: end
				
			.pagination-previous
				grid-area: previous
				justify-self: start
			

// @include above-tablet
// 	.content-area
// 		display: grid
// 		// Swap around for sidebar-content
// 		grid-template-columns: 1fr minmax(300px, 30%)
// 		grid-template-areas: "content sidebar"
// 		grid-column-gap: var(--grid-gap)

// 		.content,
// 		.sidebar-primary
// 			width: 100%
// 			float: none
// 			margin-left: 0

// 		.content
// 			grid-area: content

// 		.sidebar-primary
// 			grid-area: sidebar


// Footer

.sub-footer
	@include above-tablet
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		flex-direction: row-reverse


// Search Form

.search-form
	@include above-small-phone
		display: flex
		flex-direction: row
		align-items: center
		flex-wrap: wrap

		label,
		.search-submit
			align-self: stretch

		label
			flex-basis: 50%
			flex-grow: 1
			margin-right: var(--spacing-medium)

		.search-submit
			flex-basis: content
