// Vertical Spacing

// Header

.site-header
	padding: var(--spacing-medium) 0


.archive-description
	margin-bottom: var(--spacing-row)


// Strucutre

.content
	margin-top: var(--spacing-content-area)
	margin-bottom: var(--spacing-content-area)


	.entry-content:first-child > .alignfull:first-child
		margin-top: calc( var(--spacing-content-area) * -1 )

	.entry-content:last-child > .alignfull:last-child
		margin-bottom: calc( var(--spacing-content-area) * -1 )


.content-area
	margin-top: var(--spacing-row)
	word-wrap: break-word


.breadcrumb
	margin-bottom: var(--spacing-row)


// Entry Elements

.entry
	margin-bottom: var(--spacing-row)


.entry-header
	margin-bottom: var(--spacing-row)


.single-post .entry-content
	margin-bottom: var(--spacing-row)


.block-content-area
	&__after-blog-post
		margin-bottom: var(--spacing-row)

	&__banner
		padding-top: var(--spacing-medium)
		padding-bottom: var(--spacing-medium)

	
.comment-respond
	margin-bottom: var(--spacing-row)
	margin-top: var(--spacing-row)


.entry-comments,
	margin-bottom: var(--spacing-row)


.after-entry,
.author-profile
	margin-bottom: var(--spacing-row)


.pagination
	margin-bottom: var(--spacing-row)


// Footer

.block-content-area__footer
	padding-top: var(--spacing-row)
	padding-bottom: var(--spacing-row)
	
.sub-footer
	padding: var(--spacing-medium) 0