// Vertical Spacing

// Header

.site-header
	padding: var(--spacing-medium) 0


// Strucutre

.content
	margin-top: var(--spacing-content-area)
	margin-bottom: var(--spacing-content-area)


	.entry-content:first-child > .alignfull:first-child
		margin-top: calc( var(--spacing-content-area) * -1 )

	.entry-content:last-child > .alignfull:last-child
		margin-bottom: calc( var(--spacing-content-area) * -1 )


.content-area
	margin-top: var(--spacing-x-large)
	word-wrap: break-word


// Entry Elements

.entry,
.block-content-area
	margin-bottom: var(--spacing-x-large)


.entry-header
	margin-bottom: var(--spacing-x-large)

	
.comment-respond
	margin-bottom: var(--spacing-x-large)
	margin-top: var(--spacing-x-large)


.entry-comments,
	margin-bottom: var(--spacing-x-large)


.after-entry,
.author-profile
	margin-bottom: var(--spacing-x-large)


.pagination
	margin-bottom: var(--spacing-x-large)


// Footer

.footer-block-content-area
	padding: var(--spacing-x-large) 0

	
.site-footer
	padding: var(--spacing-medium) 0