// Vertical Spacing

// Header

.site-header
	padding: var(--spacing-1x) 0


// Strucutre

.content-area
	margin-top: var(--spacing-2x)
	word-wrap: break-word


// Entry Elements

.entry,
.block-content-area
	margin-bottom: var(--spacing-2x)


.comment-respond
	margin-bottom: var(--spacing-2x)
	margin-top: var(--spacing-2x)


.entry-comments,
	margin-bottom: var(--spacing-2x)


.after-entry,
.author-profile
	margin-bottom: var(--spacing-2x)


.archive-pagination
	margin-bottom: var(--spacing-1x)

	
.post-pagination
	margin-bottom: var(--spacing-1x)


// Footer

.footer-block-content-area
	padding: var(--spacing-2x) 0

	
.site-footer
	padding: var(--spacing-1x) 0