// Color options

// Loop through text and background colors
@each $name, $color in $colors

	.has-#{$name}-color
		--color-inherit: var(--color-#{$name})
		color: $color

	.has-#{$name}-background-color
		--color-inherit-background: var(--color-#{$name})
		background-color: $color

	.has-background-dim
		--color-inherit: var(--color-#{$name})