// Hide Post Title
.genesis-title-hidden,
.post-type-content_area
	.editor-post-title__block
		opacity: 0.4

		&::after
				content: "\f530"
				font-family: 'dashicons'
				position: absolute
				right: 0
				top: 33%
				font-size: var(--wp--preset--font-size--huge)		
			

// Conten Width Based on Body Count
.narrow-content
	.wp-block
		--wp--custom--width--max-width: var(--wp--custom--width--content)


.full-width-content
	.wp-block
		--wp--custom--width--max-width: var(--wp--custom--width--full)


// Regular content width

.wp-block-cover__inner-container,
.wp-block-group__inner-container
	width: 100%
	max-width: var(--wp--custom--width--max-width)
	margin: 0 auto