.editor-post-title__block .editor-post-title__input
	font-family: var(--font-primary)
	font-size: var(--heading-font-size-h1)
	font-weight: var(--font-weight-bold)
	line-height: 1.2

// Regular content width

.wp-block
	max-width: var(--wrap-max-width)

	&[data-align="wide"],
	&[data-align="full"]
		max-width: none


.wp-block[data-align="wide"]
	max-width: var(--width-full)

	@include above-tablet
		.alignwide
			margin: 0 auto


// Group and Media & Text
.wp-block[data-align="full"]
	.wp-block-media-text,
	.wp-block-group,
	.wp-block-cover
		margin-top: 0
		margin-bottom: 0
		
	.wp-block-group,
	.wp-block-cover
        padding-top: var(--spacing-row)
        padding-bottom: var(--spacing-row)
 

// Fix padding issue on columns in media-text block
.wp-block-media-text
	.wp-block-columns
		.block-editor-inner-blocks
			padding: 0


// Fix link issues for custom blocks
.content-grid-block 
	a
		pointer-events: none