// Hide Post Title
.genesis-title-hidden
    .editor-post-title__block
        opacity: 0.4
        display: flex
        align-items: center

        &::after
                content: "\f530"
                font-family: 'dashicons'
                font-size: var(--wp--preset--font-size--huge)		
                

.narrow-content
    .editor-styles-wrapper
        .edit-post-visual-editor__post-title-wrapper,
        .block-editor-block-list__layout.is-root-container
            --wp--custom--width--max-width: var(--wp--custom--width--content)
            --wp--custom--width--responsive: var(--wp--custom--width--content)