// Post Title
.edit-post-visual-editor__post-title-wrapper
	margin-bottom: 1rem

.editor-post-title__block .editor-post-title__input
	font-family: var(--wp--preset--font-family--priamry)
	font-size: var(--wp--custom--heading--size-h-1)
	font-weight: var(--wp--custom--font-weight--bold)
	line-height: var(--wp--custom--line-height--small)


// Content Widths

// Regular content width
// .wp-block
// 	max-width: var(--wp--custom--width--max-width)
// 	margin-left: auto
// 	margin-right: auto

// 	&[data-align="wide"]
// 		max-width: var(--wp--custom--width--max-width)

// 	&[data-align="full"] 
// 		max-width: none


// .block-editor-block-list__layout > *
// 	max-width: var(--wp--custom--width--full)


// Cover Block Inner Widht
.wp-block-cover__inner-container
	max-width: var(--wp--custom--width--responsive)


// Group and Media & Text
.wp-block[data-align="full"]
	.wp-block-media-text,
	.wp-block-group,
	.wp-block-cover
		margin-top: 0
		margin-bottom: 0
		

// Fix link issues for custom blocks
[data-type*="acf/"]
	a,
	button
		pointer-events: none