// Post Title
.editor-post-title__block .editor-post-title__input
	font-family: var(--wp--custom--font-family--primary)
	font-size: var(--wp--custom--heading--size-h1)
	font-weight: var(--wp--custom--font-weight--bold)
	line-height: 1.2


// Content Widths

// Regular content width
// .wp-block
// 	max-width: var(--wp--custom--width--max-width)
// 	margin-left: auto
// 	margin-right: auto

// 	&[data-align="wide"]
// 		max-width: var(--wp--custom--width--max-width)

// 	&[data-align="full"] 
// 		max-width: none


// .block-editor-block-list__layout > *
// 	max-width: var(--wp--custom--width--full)


// Cover Block Inner Widht
.wp-block-cover__inner-container
	max-width: var(--wp--custom--width--responsive)



// // Reusable block content width
// .wp-block.is-reusable

// 	&[data-align="full"]
// 		max-width: none
// 		margin-left: -10px
// 		margin-right: -10px


// Seperator Block
// .wp-block-separator:not(.is-style-wide):not(.is-style-dots)
//     max-width: var(--wp--custom--width--max-width)

	
// Group and Media & Text
// .wp-block[data-align="full"]
// 	.wp-block-media-text,
// 	.wp-block-group,
// 	.wp-block-cover
// 		margin-top: 0
// 		margin-bottom: 0
		
	// .wp-block-group,
	// .wp-block-cover
    //     padding-top: var(--wp--custom--spacing--row)
    //     padding-bottom: var(--wp--custom--spacing--row)
 

// Fix padding issue on columns in media-text block
// .wp-block-media-text
// 	.wp-block-columns
// 		.block-editor-inner-blocks
// 			padding: 0


// Fix link issues for custom blocks
.content-grid-block
	a
		pointer-events: none

.optimized-video-block
	button
		pointer-events: none