// Global Variables
//**********************************************

:root {

    // Font Family
    // --font-primary: 'Source Sans Pro', sans-serif;
    // --font-secondary: 'Source Sans Pro', sans-serif;

    // Font Weight
    // --font-weight-normal: 400;
    // --font-weight-bold: 600;

    // Base Font Size
    // --font-size-base: 0.925rem; // 16px
    // --font-scale: 1.25; // Major third scale
    // --font-scale-responsive: 0.075vw;
        
    // Font Size
    // --heading-font-size-h1: var(--wp--preset--font-size--gigantic);
    // --heading-font-size-h2: var(--wp--preset--font-size--huge);
    // --heading-font-size-h3: var(--wp--preset--font-size--extra-large);
    // --heading-font-size-h4: var(--wp--preset--font-size--large);
    // --heading-font-size-h5: var(--wp--preset--font-size--small);
    // --heading-font-size-h6: var(--wp--preset--font-size--tiny);

    // Font Styles
    // --heading-font-family: var(--font-primary);
    // --heading-text-transform: uppercase;
    // --heading-font-weight: var(--font-weight-bold);
    // --heading-line-height: 1.2;

    // --body-font-family: var(--font-secondary);
    // --body-font-weight: var(--font-weight-normal);
    // --body-font-weight-bold: var(--font-weight-bold);
    // --body-font-line-height: 1.625;

    // Colors
    // --color-primary: var(--wp--preset--color--dark-gray);
    // --color-highlight: var(--wp--preset--color--blue);
    // --color-border: var(--wp--preset--color--dark-gray);
    // --color-background: var(--wp--preset--color--light-gray);

    // --color-default-overlay: #000;

    // Icons
    // --icon-size-default: 28px;
    // --icon-size-small: calc( var(--icon-size-default) / 2);
    // --icon-size-large: calc( var(--icon-size-default) * 2);

    // Base Spacing
    // --spacing-base: 15px;

    // Structure
    // --width-full: 1200px;
    // --width-content: 800px;
    // --width-small: 600px;

    // --wrap-max-width: var(--width-full);

    // --side-spacing: 8%;

    // Grid
    // --grid-width: var(--width-full);
    // --grid-gap: var(--spacing-medium);

    // Spacing
    // --spacing-x-small: calc(var(--spacing-small) / 3); // 5px
    // --spacing-small: calc(var(--spacing-medium) / 2); // 15px
    // --spacing-medium: calc(var(--spacing-base) * 2); // 30px
    // --spacing-large: calc(var(--spacing-base) * 3); // 45px
    // --spacing-x-large: calc(var(--spacing-medium) * 2); // 90px
    // --spacing-xx-large: calc(var(--spacing-x-large) * 2);  // 120px

    // --spacing-content-area: var(--spacing-x-large);
    // --spacing-row: var(--spacing-large);

    // Menu
    // --menu-font-size: var(--font-size-medium);
    // --menu-item-padding: var(--spacing-small) var(--spacing-medium);
    // --menu-item-width: 200px;
    // --mobil-menu-height: 120px; 

}


// Desktop
@media only screen and (max-width: 1340px) {

    :root {

        // Menu
        // --menu-font-size: 90%;
        --menu-item-padding: var(--spacing-small) var(--spacing-small);
    }

}


// Table
@media only screen and (max-width: 1023px) {

    :root {

        // Font Size
        --heading-line-height: 1.15;
        --body-font-line-height: 1.525;

        // Spacing
        --wp--custom--spacing--content-area: var(--wp--custom--spacing--large);
        --wp--custom--spacing--row: var(--wp--custom--spacing--large);
        --wp--custom--spacing--large: var(--wp--custom--spacing--medium);
        --wp--custom--spacing--x-large: var( --wp--custom--spacing--large );

    }

}