// Button Extendable Style

%button
    background-color: var( --color-inherit-background, var(--color-primary) )
    border: 0
    border-radius: 0
    color: var( --color-inherit, var(--color-white) )
    cursor: pointer
    font-size: var(--font-size-small)
    font-weight: var(--font-weight-bold)
    padding: 16px 24px
    text-decoration: none
    white-space: normal
    width: auto
    line-height: normal
    transition: all 0.25s ease-in-out

    &:hover,
    &:focus,
    &:visited
        background-color: var( --color-inherit-background, var(--color-highlight) )
        color: var( --color-inherit, var(--color-white) )

    &:disabled
        background-color: var(--color-border)
        border-width: 0
        color: var(--color-primary)
        cursor: not-allowed


%citation
    color: var(--color-dark-gray)
    display: block
    font-size: var(--font-size-small)
    font-style: italic
    margin-top: -25px
    text-align: inherit
    text-transform: none