// Global Variables
//**********************************************

// File Paths

$icon-path: "../icons" !default

    
// Media Quiery

$desktop: 1400px // was 1340px
$small-desktop: 1200px // was 1200px
$tablet: 860px // was 1024px
$phone: 768px // was 860px
$small-phone: 550px

$mobile-menu: 860px