// Global Variables
//**********************************************

// File Paths

$icon-path: "../icons" !default


// Colors

$blue: #004b96
$green: #58AD69
$orange: #FFBC49
$white: #fff
$dark-gray: #333
$light-gray: #eee


// Block Editor

$colors: ( 'blue' : $blue, 'green' : $green, 'orange' : $orange, 'dark-gray' : $dark-gray, 'light-gray' : $light-gray, 'white' : $white )


// Font Sizes -- Block Editor

$sizes: ( 'small': 1.6rem, 'regular': 2.0rem, 'large': 2.5rem )


// Media Quiery

$desktop: 1200px // was 1340px
$small-desktop: 1024px // was 1200px
$tablet: 860px // was 1024px
$phone: 768px // was 860px
$small-phone: 550px
