// Global Variables
//**********************************************

// File Paths

$icon-path: "../icons" !default


// Colors

$blue: #004b96
$light-blue: #d5e1ee
$green: #58AD69
$light-green: #C0DFC6
$orange: #C69239
$light-orange: #F7EEDF
$white: #fff
$dark-gray: #333
$light-gray: #eee


// Block Editor

$colors: ( 'blue' : $blue, 'light-blue' : $light-blue, 'green' : $green, 'light-green' : $light-green, 'orange' : $orange, 'light-orange' : $light-orange, 'dark-gray' : $dark-gray, 'light-gray' : $light-gray, 'white' : $white )


// Font Sizes -- Block Editor

$sizes: ( 'small': 1.6rem, 'regular': 2.0rem, 'large': 2.5rem, 'xxx-large': 2.9rem, 'xx-large': 3.9rem, 'x-large': 3.1rem )


// Media Quiery
$desktop: 1400px // was 1340px
$small-desktop: 1200px // was 1200px
$tablet: 860px // was 1024px
$phone: 768px // was 860px
$small-phone: 550px

$mobile-menu: 860px