
@import "../02-tools/variables"
@import "../02-tools/mixins"


.toggle-block
    margin-bottom: var(--wp--custom--spacing--medium)

    &__header
        position: relative
        width: 100%
        background-color: var(--wp--preset--color--light-gray)
        padding: var(--wp--custom--spacing--small)
        margin-bottom: 0

    .block__inner
        padding: var(--wp--custom--spacing--medium)
        
        p:last-of-type
            margin-bottom: 0


.toggle__content:not(.open)
    display: none


.toggle__button
    --wp--custom--button--color: var(--wp--preset--color--primary)

    background: transparent
    border: none
    border-radius: 0
    box-shadow: none
    padding: 0
    outline: none
    cursor: pointer
    font-size: inherit
    font-weight: inherit
    width: 100%
    text-align: left
    display: flex
    align-items: center
    
    svg
        display: none


.js .toggle__button
    svg
        display: block
        width: 0.6em
        height: 0.6em
        margin-right: 15px


.js .toggle__button:not(.expanded)
    svg
        transform: rotate(-90deg)


.js .toggle__button
    &:hover,
    &:focus
        --wp--custom--button--color: var(--wp--custom--color--secondary)

    &:hover::before,
    &:focus::before
        content: ''
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        background-color: var(--wp--preset--color--light-green)
        color: var(--wp--custom--color--secondary)

        > svg
            fill: var(--wp--custom--color--secondary)

    > *
        z-index: 1