
@import "../02-tools/variables"
@import "../02-tools/mixins"


.toggle-block
    margin-bottom: var(--wp--custom--spacing--medium)

    &__header
        position: relative
        width: 100%
        font-size: var(--wp--custom--heading--size-h3)
        font-weight: var(--wp--custom--heading--font-weight)
        background-color: var(--wp--custom--color--background)
        padding: var(--wp--custom--spacing--small)
        margin-bottom: 0

    .block__inner
        padding: var(--wp--custom--spacing--medium)


.toggle__content:not(.open)
    display: none


.toggle__button
    background: transparent
    border: none
    border-radius: 0
    box-shadow: none
    padding: 0
    outline: none
    cursor: pointer
    font-size: inherit
    font-weight: inherit
    width: 100%
    text-align: left
    display: flex
    align-items: center

    &:focus
        background-color: var(--wp--preset--color--light-orange)


.js .toggle__button svg
    width: 0.6em
    height: 0.6em
    margin-right: 15px


.js .toggle__button
    &:hover,
    &:focus
        color: var(--wp--custom--color--secondary)

    &:hover svg,
    &:focus svg
        fill: var(--wp--custom--color--secondary)


.toggle__button:not(.expanded) svg
    transform: rotate(-90deg)