// Variables & Resets
//**********************************************

// Tools

@import "../02-tools/variables"
@import "../02-tools/mixins"

.three-columns
    --grid-columns: repeat(3, 1fr)

.four-columns
    --grid-columns: repeat(4, 1fr)


.content-grid-block
    margin-bottom: var(--wp--custom--spacing--block-gap)

    .inner_content
        display: grid
        gap: var(--wp--custom--grid--gap)

        @include above-tablet
            grid-template-columns: var(--grid-columns)


.content-grid-block

    .entry
        margin-bottom: 0

    .entry-image-link
        margin-bottom: var(--wp--custom--spacing--small)

    .entry-header
        margin-bottom: var(--wp--custom--spacing--medium)

        &:hover a,
        &:focus a
            color: var(--wp--custom--color--secondary)

    .entry-title
        font-size: var(--wp--custom--heading--size-h4)