// Variables & Resets
//**********************************************

// Tools

@import "../02-tools/variables"
@import "../02-tools/mixins"


// Icon Size
.icon-size-default .icon
    width: var(--icon-size-default)
    height: var(--icon-size-default)

.icon-size-small .icon
    width: var(--icon-size-small)
    height: var(--icon-size-small)

.icon-size-large .icon
    width: var(--icon-size-large)
    height: var(--icon-size-large)


// Icon Block
.icon-block
    display: flex
    flex-wrap: nowrap
    margin-bottom: var(--spacing-small)

    .icon
        fill: var(--color-fill, currentColor)

    &.icon-align-top,
    &.icon-align-center
        flex-direction: column

        .icon
            margin-bottom: var(--spacing-small)
            margin-top: 8px // Line height offset
    
    &.icon-align-left
        flex-direction: row

        .icon
            margin-right: var(--spacing-small)

    &.icon-align-center .icon
        align-self: center

    &.is-vertically-aligned-center
        align-items: center

    &.is-vertically-aligned-top
        align-items: flex-start
        
    &.is-vertically-aligned-bottom
        align-items: flex-end


    & > .block__inner
        display: block
        width: 100%
        flex-grow: 1
        flex-basis: min-content