
@import "../02-tools/variables"
@import "../02-tools/mixins"

    
.entry-content > .optimized-video-block:not(:first-child)
    margin-top: var(--spacing-medium)

    
.optimized-video-block
    --aspect-ratio: 315 / 560

    iframe
        position: absolute
        height: 100%
        width: 100%
        top: 0
        left: 0
        background-color: transparent
    

.video-block__wrapper
    position: relative
    background-color: var(--color-light-gray)
    padding-top: calc(var(--aspect-ratio) * 100%)
    overflow: hidden
    cursor: pointer

    &:hover > .video-block__button,
    &:focus > .video-block__button
        background-color: var(--color-highlight)
        color: var(--color-white)


.video-block__thumbnail
    position: absolute
    width: 100%
    top: 0
    left: 0

 
.video-block__button
    position: absolute
    top: 50%
    left: 50%
    transform: translate3d( -50%, -50%, 0 )