// Block Widgets

// Category Block
.wp-block-categories,
.wp-block-categories ol,
.wp-block-categories ul {
	margin-left: 0;
	padding-left: 0;
}


.wp-block-categories li {
	list-style-type: none;
}


.wp-block-categories.aligncenter {
	text-align: center;
}


// Latest Posts Block
.wp-block-latest-posts {
	clear: both;
	margin-left: 0;

	&__post-date {
		display: block;
		color: $dark-gray;
		font-size: 16px;
		font-size: 1.6rem;
	}

	li {
		list-style-type: none;
	}

}


.wp-block-latest-posts.aligncenter {
	text-align: center;
}


// Other Blocks
hr.wp-block-separator {
	border: none;
	border-top: 1px solid #eee;
	margin: 1.65em auto;
}


.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
}


.wp-block-audio audio {
	display: inline-block;
	width: 100%;
}
