// Block Alignment

.full-width-content {

	.alignwide,
	.alignfull {
		margin: 0 calc(49% - 50vw);
		max-width: 100vw;
		width: 100vw;
		margin-bottom: $margin_1x;
	}


	@include above-tablet {

		// For the negative left/right margin, subtract page width from the content width and divide by two
		.alignwide {
			margin: 0 calc( ( 800px - 1200px ) / 2  );
			max-width: $full-wdith;
			width: $full-wdith;
			margin-bottom: $margin_1x;
		}

	}

}


.wp-block-button.alignleft,
.wp-block-cover.alignleft,
.wp-block-image .alignleft {
	margin-right: 2em;
}


.wp-block-button.alignright,
.wp-block-cover.alignright,
.wp-block-image .alignright {
	margin-left: 2em;
}


.wp-block-image.alignwide,
.wp-block-image.alignfull,
.wp-block-embed.alignwide,
.wp-block-embed.alignfull {
	margin-bottom: $margin_1x;
}
