// Alighments
.wp-block[data-align="left"] > .wp-block-image
	margin-right: var(--wp--custom--spacing--medium)


.wp-block[data-align="right"] > .wp-block-image
	margin-left: var(--wp--custom--spacing--medium)


// Group Blocks
.wp-block[data-align="full"]
    > .wp-block-group,
    > .wp-block-cover
        padding-top: var(--wp--custom--spacing--row)
        padding-bottom: var(--wp--custom--spacing--row)