// Max Width Block
.block-editor-block-list__block[data-type="acf/max-width-block"]
    max-width: var(--wrap-max-width)
    margin-left: auto
    margin-right: auto

    .wp-block
        height: auto

    .wp-block > *
        float: none
        margin-left: auto
        margin-right: auto